<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
<head>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<title>Reservación en Línea del Tiempo de Máquina</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<base href="{$base}">

<!-- Stylr for calendar -->
<style type="text/css">@import url(js/jscalendar-1.0/calendar-green.css);</style>
<style type="text/css">
  .special { background-color: #00FF00; }
</style>

<script type="text/javascript" src="js/jscalendar-1.0/calendar.js"></script>
<script type="text/javascript" src="js/jscalendar-1.0/lang/calendar-es.js"></script>
<script type="text/javascript" src="js/jscalendar-1.0/calendar-setup.js"></script>
</head>
<body>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td valign="top" width="100">
			<div id="userinfo-container" class="calendar">	
				<core:optional for="username">
				<table width="100%" border="0" cellspacing="5" cellpadding="5">
					<tr>
						<td>
							<a href="index.php/login/"><img src="img/logout.gif" border="0" alt="Salir"></a>
							<core:optional for="mutationname">
							<a href="index.php/alias/"><img src="img/mutate.gif" border="0" alt="Cambiar el nombre"></a>
							</core:optional>
						</td>
					</tr>
					<tr>
						<td nowrap><strong>Usuario:</strong></td>
						<core:optional for="mutationname">
						<td nowrap>{$mutationname}</td>
						</core:optional>
						<core:default for="mutationname">
						<td nowrap>{$username}</td>
						</core:default>
					</tr>
					<tr>
						<td nowrap><strong>Tiempo sin reservar:</strong></td>
						<td nowrap>{$remanent|math:'/60'} minutos</td>
					</tr>
				</table>
				</core:optional>
				<core:default for="username">
				<table width="100%" border="0" cellspacing="0" cellpadding="5">
					<tr>
						<td align="center" valign="middle"><a href="index.php/login/">Autentificarse</a></td>
					</tr>
					<tr>
						<td align="center" valign="middle"><a href="index.php/login/"><img src="img/login.gif" border="0" alt="Autentificarse"></a></td>
					</tr>
				</table>
				</core:default>
			</div>
		</td>
	    <td nowrap align="center" valign="top"><img src="img/mapa_red_estudiantes.jpg" alt="Mapa del Laboratorio"></td>
	    <td width="200" nowrap align="right">
			<div id="calendar-container"></div>
			<script type="text/javascript">
				var SPECIAL_DAYS =
				[<list:list id="reservableDateList"><list:item>'{$date}'<list:separator>,</list:separator></list:item></list:list>];  
				function ourDateStatusFunc(date, y, m, d) {
					mydate = date.getFullYear() + '-' + (date.getMonth()+1) + '-' + date.getDate();
					for (var i in SPECIAL_DAYS){
						if (mydate == SPECIAL_DAYS[i]) {
							return 'special';
						}
					}
					return false;
				};
			  
			  function dateChanged(calendar) {
				// Beware that this function is called even if the end-user only
				// changed the month/year.  In order to determine if a date was
				// clicked you can use the dateClicked property of the calendar:
				if (calendar.dateClicked) {
				  // OK, a date was clicked, redirect to /yyyy/mm/dd/index.php
				  var y = calendar.date.getFullYear();
				  var m = calendar.date.getMonth();     // integer, 0..11
				  var d = calendar.date.getDate();      // integer, 1..31
				  var date = Date.UTC(y, m, d)/1000+18000;
				  var date = new Date();
				  date = y + "-" + (m + 1) + "-" + d;
				  // redirect...
				  window.location = "{$base}index.php/reservacion/mostrar/?date=" + date;
				}
			  };
			
			  Calendar.setup(
				{
				  flat			: "calendar-container", // ID of the parent element
				  flatCallback	: dateChanged,           // our callback function
				  date			: '{$date|todate|date:'%Y/%m/%d'}',
				  showOthers	: true,
				  dateStatusFunc: ourDateStatusFunc
				}
			  );
			</script>
		</td>
	</tr>
</table>
<core:optional for="errorMessage">
<table cellpadding="0" cellspacing="0" border="0" align="center">
	<tr>
		<td bgcolor="#CCCC33">
			<table cellpadding="0" cellspacing="1" border="0" width="100%" class="calendar">
				<tr>
					<td bgcolor="#FFFFCC">
						<table cellpadding="0" cellspacing="5" border="0" width="100%">
							<tr>
								<td width="1%" valign="middle"><img src="img/warning.gif"></td>
								<td align="left" valign="middle"><strong>Error</strong></td>
							</tr>
							<tr>
								<td colspan="2" valign="top" align="left"><font color="red">{$errorMessage}</font></td>
							</tr>
							<tr>
								<td colspan="2" valign="top" align="center"><a href="javascript:window.history.back(-1);">Regresar</a></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</core:optional>
<core:default for="errorMessage">
<br/>
<div id="occupation-container">
<list:list id="occupationsList">
<table class="calendar" cellpadding="5" cellspacing="1" align="center">
	<tr>
		<th>Computadora</th>
		<th>D&iacute;a</th>	
		<th></th>
		<th>Turno</th>
		<th></th>
	</tr>
	<list:item>
	<tr>
		<td nowrap="nowrap">{$computerHostname}</td>
		<td nowrap="nowrap"><a href="index.php/reservacion/mostrar/?date={$date_real}">{$date}</a></td>
		<td>:::</td>
		<td nowrap="nowrap">
		<a href="index.php/reservacion/mostrar/?date={$date_real}#{$time_real}">{$datetime_initial} a {$datetime_final}</a></td>
		<td nowrap="nowrap">
		<core:optional for="datetime" match=" >= date('Y-m-d H:i:s', strtotime('{$now}') + 3600)">
			<a href="index.php/reservacion/borrar/?id={$id}&date={$#date}"><img src="img/delete.gif" border="0" alt="Borrar reservación"></a>
		</core:optional>
		</td>
	</tr>
	</list:item>
	<list:default>
	<core:optional for="username">
	<table class="calendar" cellpadding="5" cellspacing="1" align="center">
		<tr><td><img src="img/information.gif"></td><td>No tiene reservaciones para esta semana</td></tr>
	<table>	
	</core:optional>
	</list:default>	
</table>
</list:list>
<br/>
</div>
<table id="matrix" runat="server"></table>
</core:default>
</body>
<!--<br/><div align="center" class="calendar">Grupo <a href="mailto:yosmany@uclv.edu.cu">FIMaster</a> &copy; 2005 <br> Este sistema es completamente un producto del Software Libre.</div>-->
</html>
